<html>
  <head>
    <title>Profile: Stephen Rogers</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <style>
      .info{
        position: relative;
        width: 25%;
        height:auto;
        top:16px;
        left:16px;
        float: left;
        padding: 32;
        
      }
      .projects{
        display: grid;
        grid-gap: 16px;
        
        width: 60%;
        margin-left: 30%;
        padding:16px;
      }
      .project{
        margin: 32;
        

      }

      .base{
        border-width: thick;

        border-style: solid;
        background-color: white;
        border-color: #8ad5d8;
        text-align: center;
        margin: 16;
        box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
      }

      .card {
        box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);

        text-align: center;
        background-color: #FFFFFF;

      }

      .title {
        color: white;
        background-color: #122f3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .description{
        text-align: center;

      }

      button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: 	#122f3d;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }

      button:hover, .project:hover {
        opacity: 0.7;
      }
      html, body {
        margin:0;
        padding:0;
        height: 100%;
      }
      body{
        font-family: 'Oswald', sans-serif;
        background-color: #3f7c9d;
        
      }
      img{
        border-radius: 10%;
      }
      li{
        text-align: left;
      }
      .navBar{
        
        margin: 0;
        color: white;
        text-align: center;
        font-size: 50px;
        padding: 0;
        padding-bottom: 32;
        height:100px;
        margin-bottom: 32;
        background-color: #144149;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

    </style>

  </head>

  <body>
    <div class="navBar">
      Stephen Rogers
    </div>

    <div class="base info">
      <img src="https://media.licdn.com/dms/image/C5603AQGydHUxkN1wwA/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=A4hR64CtEaat7HkJlGC9-xUwgS-o23cD2Mggss6yYqs"width = "70%">
      <div class="card">

        <h2 class="title">Student</h2>
        <p> Senior @ University of Memphis
        <h3 class="title">Development Skills</h3>
        <ul>
          <li>C#</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Ruby/Ruby on Rails</li>
          <li>HTML/CSS</li>
        </ul>
        <p><button>Contact</button></p>
      </div>

      <h1> About Me</h1>
      <div class="description" >
        <p> Hi my name is Stephen! I am currently a Computer Science major at the University of Memphis. Below I have listed some projects that I have worked on over the years in school.</p>
      </div>
    </div>

    
    <div class = "projects">
      <h1 class="base" style=" grid-column-start: 1;  grid-column-end: 3; margin-left: 50%">Projects</h1>
      <div class = "base project" style= "grid-column: 1; ">
        <h2>Party Line VR</h2>
        <img src = "https://img1.wsimg.com/isteam/ip/66526596-3bc8-4f41-b1d3-36575e221f39/2c0d10e6-76f7-425f-a285-81e9bf1e7670.png/:/rs=w:600,h:750,cg:true,m/cr=w:1200,h:750,a:cc" width = "180px" height="150px" style="border-radius: 10%">
        <p>Submitted as  ludum dare game jam entry, Personal Bubble is an attempt at making a 3D version of the popular web game Agar.io</p>
      </div>
      <div class = "base project" style= "grid-column: 2">
        <h2>Stick Together</h2>
        <img src = "https://img.itch.zone/aW1hZ2UvMzAyODA3LzE0ODI4OTMuZ2lm/250x600/5jRJMC.gif" width = "180px" height="150px" style="border-radius: 10%">
        <p>Submitted as a ludum dare game jam entry, Personal Bubble is an attempt at making a 3D version of the popular web game Agar.io</p>
      </div>
      <div class = "base project" style= "grid-column: 3">
        <h2>Planet Pool</h2>
        <img src = "https://images.immediate.co.uk/volatile/sites/3/2017/11/imagenotavailable1-39de324.png?quality=90&resize=620,413" width = "180px" height="150px" style="border-radius: 10%">
        <p>Submitted as a ludum dare game jam entry, Personal Bubble is an attempt at making a 3D version of the popular web game Agar.io</p>
      </div>
      <div class = "base project" style= "grid-column: 1; ">
        <h2>Personal Bubble</h2>
        <img src = "https://img.itch.zone/aW1nLzE0MTU2MDAuZ2lm/original/KP8luQ.gif" width = "180px" height="150px" style="border-radius: 10%">
        <p>Submitted as a ludum dare game jam entry, Personal Bubble is an attempt at making a 3D version of the popular web game Agar.io</p>
      </div>
      <div class = "base project" style= "grid-column: 2">
        <h2>Magnet Head</h2>
        <img src = "https://img.itch.zone/aW1hZ2UvMzAwNzU2LzE0NzE1MDcuZ2lm/250x600/aEpTZC.gif" width = "180px" height="150px" style="border-radius: 10%">
        <p>Submitted as a ludum dare game jam entry, Personal Bubble is an attempt at making a 3D version of the popular web game Agar.io</p>
      </div>
    </div>
  </body>

</html>
